
.pagination-block {
  .pagination-block__text {
    display: inline-block;
    vertical-align: top;
    font-family: 'Corbel';
  }
  nav {
    display: inline-block;
    vertical-align: top;
    float: right;
    margin-top: -25px;
  }
}

