@font-face {
  font-family: 'Corbel';
  src: url("../fonts/Corbel.eot");
  src: url("../fonts/Corbel.woff") format("woff"), url("../fonts/Corbel.ttf") format("truetype"), url("../fonts/Corbel.svg#brandon_grotesquebold") format("svg");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Corbel';
  src: url("../fonts/Corbel.eot");
  src: url("../fonts/Corbel.woff") format("woff"), url("../fonts/Corbel.ttf") format("truetype"), url("../fonts/Corbel.svg#brandon_grotesquebold") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Corbel';
  src: url("../fonts/Corbel.eot");
  src: url("../fonts/Corbel.woff") format("woff"), url("../fonts/Corbel.ttf") format("truetype"), url("../fonts/Corbel.svg#brandon_grotesquebold") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Latha';
  src: url("../fonts/Latha.eot");
  src: url("../fonts/Latha.woff") format("woff"), url("../fonts/Latha.ttf") format("truetype"), url("../fonts/Latha.svg#brandon_grotesquebold") format("svg");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Latha';
  src: url("../fonts/Latha.eot");
  src: url("../fonts/Latha.woff") format("woff"), url("../fonts/Latha.ttf") format("truetype"), url("../fonts/Latha.svg#brandon_grotesquebold") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Latha';
  src: url("../fonts/Latha.eot");
  src: url("../fonts/Latha.woff") format("woff"), url("../fonts/Latha.ttf") format("truetype"), url("../fonts/Latha.svg#brandon_grotesquebold") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gisha';
  src: url("../fonts/Gisha.eot");
  src: url("../fonts/Gisha.woff") format("woff"), url("../fonts/Gisha.ttf") format("truetype"), url("../fonts/Gisha.svg#brandon_grotesquebold") format("svg");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Gisha';
  src: url("../fonts/Gisha.eot");
  src: url("../fonts/Gisha.woff") format("woff"), url("../fonts/Gisha.ttf") format("truetype"), url("../fonts/Gisha.svg#brandon_grotesquebold") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Gisha';
  src: url("../fonts/Gisha.eot");
  src: url("../fonts/Gisha.woff") format("woff"), url("../fonts/Gisha.ttf") format("truetype"), url("../fonts/Gisha.svg#brandon_grotesquebold") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Font-Awesome';
  src: url("../fonts/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2") format("woff2"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.svg#brandon_grotesquebold") format("svg");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Font-Awesome';
  src: url("../fonts/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2") format("woff2"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.svg#brandon_grotesquemedium") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Font-Awesome';
  src: url("../fonts/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2") format("woff2"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.svg#brandon_grotesque_regularRg") format("svg");
  font-weight: 400;
  font-style: normal;
}
/* line 4, ../../../dev/pages/index/index.scss */
.general-page .general-page__big-image {
  display: inline-block;
}
/* line 7, ../../../dev/pages/index/index.scss */
.general-page .general-page__text {
  padding: 20px 0 10px;
}
/* line 9, ../../../dev/pages/index/index.scss */
.general-page .general-page__text p {
  font-family: "Corbel";
  color: #696969;
  width: 40%;
  margin: 0 auto;
}
/* line 17, ../../../dev/pages/index/index.scss */
.general-page .general-page__block-btn button {
  margin: 0 3px;
}
