$base-width: 960px;
$base-font-size: 16px;
$bg-body: #e7e7e7;
$bg-header: #205081;
$bg-item-hover: #296ca3;
$white: #fff;
$black: #000;
$bg-item-drop-down: #3b73af;
$border-blue-dark: #2e3d54;
$heidht-header: 40px;
$text-color: #696969;
$border-color: #bababa;
$bg-sessions-log-header: #f5f5f5;
$color-icon-default: #cccccc;
$color-input-empty: #444444;
$border-top-bar: #bfbfbf;